@import "tailwindcss";

@theme inline {
  --color-bg-base: #F9F9F2;
  --color-text-default: #5F6A50;
  --color-text-active: #3B4028;
  --font-geist: var(--font-geist-var);
  --font-fenix: var(--font-fenix-var);
}

@theme {
  --animate-mosaic-scroll: mosaic-scroll 240s linear infinite;
}

@keyframes mosaic-scroll {
  from { transform: translateY(0); }
  to { transform: translateY(-50%); }
}
